@use '../../styles/mixins' as *;
.player {
  display: flex;
  width: 100%;
  gap: 20px;
  transition: background 0.1s linear;

  &_id {
    color: #ffffff8a;
    padding: 0 10px;
  }
  &:hover {
    background: rgba(30, 229, 243, 0.111);
  }
}
.playButton {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  cursor: pointer;

  @include vp-767 {
    gap: 10px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;

  .title {
    color: #aeaeae;
    font-size: 20px;

    @include vp-767 {
      font-size: 14px;
    }
  }

  .artist {
    color: #7d7d7db7;
    font-weight: bold;
    font-size: 11px;
  }
}
.controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.time {
  color: #7d7d7d;
  font-size: 12px;
  padding: 0 0 5px 0;
}

.playButton {
  border: 2px solid transparent;

  &.playing {
    border-color: #00ddff83;
  }
}
