.player {
  display: flex;
  width: 100%;
  gap: 20px;
}
.playButton {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;

  .title {
    color: #aeaeae;
    font-size: 20px;
  }

  .artist {
    color: #7d7d7db7;

    font-weight: bold;
  }
}
.controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.time {
  color: #7d7d7d;
  font-size: 12px;
  padding: 0 0 5px 0;
}

.playButton {
  border: 2px solid transparent;

  &.playing {
    border-color: #00ddff83;
  }
}
