@use '../../styles/mixins' as *;

.main {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.adlin_image {
  width: 100%;
  margin: 65px 0 0 0;

  @media (max-width: 620px) {
    margin: 0;
  }
}
