@use '../../styles/mixins' as *;

.player {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  padding: 30px 30px 40px 40px;
  border-radius: 30px 30px 0 30px;
  border-bottom: 1px solid #3170d8;
  width: 15%;
  z-index: 1000;

  @include vp-1440 {
    width: 20%;
  }

  @include vp-1023 {
    width: 25%;
  }

  @include vp-767 {
    width: 30%;
  }

  @media (max-width: 620px) {
    width: 100%;
    padding: 25px 10px 10px 10px;
    flex-direction: row;
    border-radius: 0%;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    top: unset;
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 8px;
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.057);
    }
  }

  &_slider {
    width: 90px;
  }

  &_top {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;

    &_artist {
      font-size: 14px;
      opacity: 0.7;
    }
  }

  &_controls {
    margin-top: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &_buttons {
    display: flex;
    gap: 8px;
  }
}

.progressBar {
  height: 100%;
  background-color: #1d68b9ff;
  border-radius: 2px;
  transition: width 0.1s linear;
}

.timeSeparator {
  margin: 0 4px;
  opacity: 0.5;
}

.progressBarCont {
  width: 80%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  bottom: 24px;

  @media (max-width: 620px) {
    width: 100%;
    left: 0;
    bottom: 2px;
    left: 0;
    top: 5px;
    transform: translateY(50%);
  }
}
