@import 'tailwindcss';

body {
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: black;
  color: white;
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header.show {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.header.hide {
  opacity: 1;
  transform: translateY(0);
}
