@use '../../styles/mixins' as *;

.header {
  display: flex;
  padding: 21px 270px 21px 0;
  background-color: #161616;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #3170d8;
  z-index: 999;
  height: 70px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  align-items: center;

  @include vp-1440 {
    padding: 10px 270px 10px 0;
  }

  @include vp-767 {
    padding: 10px 220px 10px 0;
  }

  @media (max-width: 620px) {
    display: none;
  }
  &_nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &_nav_list {
    display: flex;
    gap: 24px;

    @include vp-767 {
      gap: 14px;
    }

    @media (max-width: 620px) {
      display: none;
    }
  }

  &_nav_item {
    color: white;
    font-size: 16px;

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.container {
  width: 100%;
  padding: 0 24px;
}
