.footer {
  width: 100%;
  background-color: #1e1e1e;

  &_text {
    width: 100%;
    color: #7d7d7d;
    text-align: right;
    padding: 0 50px 20px 0;
  }

  &_container {
    width: 100%;
    padding: 40px 300px;
  }

  &_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    &_col {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &_title {
        color: white;
        font-size: 24px;
        font-weight: 100;
        margin: 0 0 20px 0;
      }

      &_text {
        color: #7d7d7d;
        font-size: 15px;
      }
    }
  }
}
