.album {
  display: flex;
  padding: 150px 100px 100px 100px;
  background: linear-gradient(180deg, hsl(309, 74%, 10%) 0%, #0f7863ad 100%);
  gap: 50px;

  &_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

    background-color: #ffffff05;
    border-radius: 12px;
    margin: 10px 0 0 0;
  }

  &_text {
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 20px;
    color: #ffffffa8;
  }

  &_right {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_imgWrap {
      display: flex;
      gap: 20px;
      align-items: end;

      &_titles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
      }
      &_type {
        color: #aeaeae;
        font-size: 12px;
      }

      &_title {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
      }

      &_autor {
        display: flex;
        gap: 5px;
        font-weight: bold;
        font-size: 13px;
      }

      &_info {
        color: #aeaeae9a;
      }
    }
  }

  &_left {
    padding: 50px;
    color: #fff;

    &_button {
      display: flex;
      border: 1px solid rgba(46, 139, 86, 0.573);
      border-radius: 12px;
      padding: 10px 20px;
      font-weight: bold;

      &:hover {
        background-color: rgba(0, 100, 0, 0.051);
      }
    }
  }
}
