@use '../../styles/mixins' as *;

.album {
  display: flex;
  padding: 130px 100px 50px 100px;
  background: linear-gradient(180deg, hsl(309, 74%, 10%) 0%, #0f7863ad 100%);
  gap: 50px;

  @include vp-1023 {
    padding: 100px 80px 30px 80px;
  }

  @media (max-width: 620px) {
    padding: 70px;
  }

  @include vp-500 {
    padding: 30px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;

    background-color: #ffffff05;
    border-radius: 12px;
    margin: 10px 0 0 0;
  }

  &_text {
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 20px;
    color: #ffffffa8;
  }

  &_right {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_imgWrap {
      display: flex;
      gap: 20px;
      align-items: end;

      &_titles {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #fff;
      }
      &_type {
        color: #aeaeae;
        font-size: 12px;
      }

      &_title {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;

        @include vp-500 {
          font-size: 20px;
        }

        @media (max-width: 310px) {
          font-size: 14px;
        }
      }

      &_autor {
        display: flex;
        gap: 5px;
        font-weight: bold;
        font-size: 13px;

        @include vp-500 {
          gap: 3px;
          font-size: 11px;
          flex-direction: column;
        }
      }

      &_info {
        color: #aeaeae9a;
      }
    }
  }

  &_left {
    padding: 50px;
    color: #fff;

    @include vp-767 {
      display: none;
    }

    &_button {
      display: flex;
      border: 1px solid rgba(46, 139, 86, 0.573);
      border-radius: 12px;
      padding: 10px 20px;
      font-weight: bold;

      &:hover {
        background-color: rgba(0, 100, 0, 0.051);
      }
    }
  }
}
