@use '../../styles/mixins' as *;

.about {
  width: 100%;
  background: linear-gradient(180deg, #333 0%, #161616 100%);
  margin: -20px 0 0;
  padding: 0 0 40px;

  @include vp-500 {
    padding: 0 0 20px;
  }

  &_tags {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include vp-500 {
      margin-bottom: 10px;
    }
  }

  &_tag {
    color: white;

    @include vp-500 {
      font-size: 12px;
      padding: 10px 0;
    }
  }

  &_container {
    width: 100%;
    padding: 33px 42px;

    @include vp-500 {
      padding: 10px;
    }
  }

  &_titles {
    display: flex;
    align-items: center;
    gap: 50px;

    &_img {
      @include vp-500 {
        width: 150px;
      }
    }

    @include vp-767 {
      gap: 30px;
    }
    @include vp-500 {
      gap: 10px;
      align-items: start;
    }
  }

  &_infoBlock {
    display: flex;
    flex-direction: column;

    &_role {
      color: #aeaeae;
      font-size: 20px;
      font-weight: bold;

      @include vp-767 {
        font-size: 12px;
        font-size: 10px;
      }
    }

    &_name {
      color: white;
      font-size: 96px;
      font-weight: bold;
      margin: 0;
      line-height: 1.1;

      @include vp-767 {
        font-size: 50px;
      }

      @include vp-500 {
        font-size: 30px;
      }
    }

    &_count {
      color: #aeaeae;
      font-size: 13px;
      font-weight: bold;
      padding: 6px 15px;
      background-color: #2f2f2f;
      border-radius: 15px;

      @include vp-500 {
        display: none;
      }
    }

    &_buttons {
      display: flex;
      gap: 15px;
      margin-top: 20px;
      align-items: center;

      &_soc {
        display: flex;

        @media (max-width: 350px) {
          flex-direction: column;
        }
      }

      @include vp-767 {
        gap: 10px;
      }

      @include vp-500 {
        gap: 2px;
      }
    }

    &_buttonPlay {
      padding: 15px;
      background-color: #215ec0fc;
      border: none;
      border-radius: 57px;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: background-color 0.2s linear;

      @include vp-500 {
        padding: 10px;
        font-size: 16px;
      }

      &:hover {
        background-color: #4e85dd;
      }
    }

    &_buttonsSpotyf,
    &_buttonsY {
      padding: 12px;
      background-color: transparent;
      border-radius: 50%;
      width: 47px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #2f2f2f;
      }
    }
  }

  &_content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 100px;

    @include vp-1440 {
      gap: 70px;
    }
    @include vp-1023 {
      gap: 40px;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-500 {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &_right {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: start;
      order: 3;

      @include vp-767 {
        display: grid;
        grid-column: span 2;
      }

      @include vp-500 {
        grid-column: span 2;
      }

      &_text {
        color: white;
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 3;
        font-weight: bold;
        margin-top: 90px;

        @include vp-1440 {
          font-size: 16px;
          letter-spacing: 3px;

          margin-top: 140px;
        }

        @include vp-1023 {
          font-size: 14px;
          letter-spacing: 2px;
          margin-top: 80px;
        }
        @include vp-767 {
          margin-top: 10px;
        }
      }

      &_janres,
      &_info {
        color: #7d7d7d;
        font-size: 11px;
      }

      &_info {
        display: flex;
        flex-direction: column;
        margin-top: auto;
      }
    }

    &_center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 90px;
      width: 440px;
      height: 100%;
      order: 2;

      @include vp-1440 {
        width: 340px;
      }

      @include vp-1023 {
        width: 280px;
      }

      @include vp-767 {
        width: 100%;
        margin-top: 70px;
      }

      @include vp-500 {
        grid-column: span 2;
        margin-top: 0;
      }

      &_controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
      }

      &_button {
        display: flex;
        cursor: pointer;
        padding: 5px 10px;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #ffffff1e;
        }
      }

      &_names {
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        width: 100%;
        padding: 20px 2px 15px;
        position: relative;

        &_duration {
          color: #7d7d7d;
          font-size: 12px;
          text-align: right;
        }

        &_title {
          color: white;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.1;
        }

        &_artist {
          color: #7d7d7d;
          font-size: 12px;
        }
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-top: 38px;
      order: 1;

      @include vp-767 {
        gap: 10px;
      }

      @include vp-500 {
        grid-column: span 2;
      }

      &_list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include vp-767 {
          gap: 10px;
        }
      }

      &_title {
        color: #aeaeae;
        font-size: 25px;
        font-weight: bold;
      }

      &_item {
        display: flex;
        gap: 15px;
        width: 100%;

        &_durationc {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          width: 100%;
        }

        &_duration {
          color: #7d7d7d;
          font-size: 12px;
          padding-bottom: 5px;
        }

        &_info {
          display: flex;
          flex-direction: column;

          &_name {
            color: #aeaeae;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
          }

          &_artist {
            color: #7d7d7d;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.imageWrapper {
  display: flex;
  width: 100%;
  height: 350px;
  position: relative;

  @include vp-1023 {
    height: 240px;
  }

  @include vp-767 {
    height: 250px;
  }

  @media (max-width: 620px) {
    height: 250px;
  }

  @include vp-500 {
    height: 150px;
  }
}

.about_content_center_image {
  object-fit: cover;
}

.progressBarCont {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 0;

  &:hover {
    height: 10px;
  }
}
