.about {
  width: 100%;
  background: linear-gradient(180deg, #333333 0%, #161616 100%);
  margin: -20px 0 0 0;
  padding: 0 0 40px 0;

  &_tags {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  &_container {
    width: 100%;
    padding: 33px 42px;
  }

  &_tag {
    color: white;
  }

  &_titles {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &_infoBlock {
    display: flex;
    flex-direction: column;

    &_role {
      color: #aeaeae;
      font-size: 20px;
      font-weight: bold;
    }

    &_name {
      color: white;
      font-size: 96px;
      font-weight: bold;
      margin: 0;
      line-height: 1.1;
    }

    &_count {
      color: #3170d8;
      font-size: 13px;
      font-weight: bold;
      color: #aeaeae;
      padding: 6px 15px;
      background-color: #2f2f2f;
      border-radius: 15px;
    }

    &_buttons {
      display: flex;
      gap: 15px;
      margin: 20px 0 0 0;
      align-items: center;
    }

    &_buttonPlay {
      padding: 8px 20px;
      background-color: #4580e0;
      border: none;
      border-radius: 57px;
      color: black;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: #4e85ddaa;
      }
    }

    &_buttonsSpotyf {
      padding: 12px;
      background-color: #2f2f2f;
      border-radius: 50%;
      width: 47px;
      height: 47px;
    }

    &_buttonsY {
      padding: 12px;
      background-color: #2f2f2f;
      border-radius: 50%;
      width: 47px;
      height: 47px;
    }
  }
  &_content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 100px;
    justify-content: space-between;

    &_right {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      &_text {
        color: white;
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 3;
        font-weight: bold;
        margin: 90px 0 0 0;
      }

      &_janres {
        color: #7d7d7d;
        font-size: 11px;
      }

      &_info {
        display: flex;
        flex-direction: column;
        margin: auto 0 0 0;
        color: #7d7d7d;
        font-size: 11px;
      }
    }

    &_center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 90px 0 0 0;

      &_controls {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px 0 0 0;
      }

      &_button {
        display: flex;
        cursor: pointer;
        padding: 5px 10px;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #ffffff1e;
        }
      }

      &_names {
        display: flex;
        flex-direction: column;
        background-color: #1f1f1f;
        width: 100%;
        padding: 20px 2px 15px 2px;
        position: relative;

        &_duration {
          color: #7d7d7d;
          font-size: 12px;
          text-align: right;
        }

        &_title {
          color: white;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.1;
        }

        &_artist {
          color: #7d7d7d;
          font-size: 12px;
        }
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin: 38px 0 0 0;

      &_list {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      &_title {
        color: #aeaeae;
        font-size: 25px;
        font-weight: bold;
      }

      &_item {
        display: flex;
        gap: 15px;
        width: 100%;

        &_durationc {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          width: 100%;
        }

        &_duration {
          color: #7d7d7d;
          font-size: 12px;
          padding: 0 0 5px 0;
        }

        &_info {
          display: flex;
          flex-direction: column;

          &_name {
            color: #aeaeae;
            font-size: 20px;
            font-weight: bold;
            margin: 0;
          }

          &_artist {
            color: #7d7d7d;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.imageWrapper {
  position: relative;
  width: 400px;
  height: 100%;
}

.about_content_center_image {
  object-fit: cover;
}

.progressBarCont {
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  margin: 10px 0 0 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;

  &:hover {
    height: 10px;
  }
}
